.popup__button {
  background: #000;
  color: #fff;
  border: 0;
  height: 50px;
  max-width: 358px;
  width: 100%;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .popup__button {
    margin-top: 45px;
    height: 46px;
  }
}
