.profile__subtitle {
  margin: 0;
  padding-top: 10px;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
    padding-bottom: 33px;
  }
}
