.gallery__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 19px;
  width: 18px;
  background-repeat: no-repeat;
  background: url(../../../images/Trash.svg);
  border: none;
  padding: 0;
  cursor: pointer;
}

.gallery__delete-button:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
